/*Global styles*/
.icon-md {
    font-size: 24px;
}

.icon-md:hover {
    cursor: pointer;
    color: white;
    transition: all 250ms;
}

.flex-centerH {
    display: flex;
    justify-content: center;
}

.mt-md {
    margin-top: 10px;
}

.position-relative {
    position: relative;
}

.text-align-center {
    text-align: center;
}

.display-block {
    display: block;
}

.visibility-hidden {
    visibility: hidden;
}

.btn-action {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-action-delete {
    color: red;
}

.btn-action-edit {
    color: black;
}

.display-flex{
    display: flex;
}

.column-gap-10 {
    column-gap: 10px;
}

.column-gap-5 {
    column-gap: 5px;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.form-label {
    font-weight: 500;
    font-size: 1.25em;
}